[submodule "cs-submodule"]
	path = cs-submodule
	url = git@github.com:willbeason/cs-submodule.git
[submodule "cs-submodule-2"]
	path = namespaces/foo
	url = https://github.com/willbeason/cs-submodule-2.git
